.container {
  width: 100%;
  padding: 1rem 3rem;
  max-width: 1008px;
  margin: 0 auto;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  box-sizing: border-box;

  img {
    height:auto;
    width:100%;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 1rem;
  }
}